In [1]:
import schedule
import pygame
import time

pygame 2.0.0 (SDL 2.0.12, python 3.8.3)
Hello from the pygame community. https://www.pygame.org/contribute.html

In [2]:
key = 'urz15HMZIl7GH7VC1sxsnGwRWNAHv%2Bfo9bhWTmlP3P9i3tELJ2oomcBTQtNZBIsxXi5PmFAcw1Yajfb3xvGPsA%3D%3D'

In [3]:
from datetime import datetime as dt
today = dt.today()
date = "%04d%02d%02d"%(today.year, today.month, today.day)

In [4]:
today_time = '0200'

In [5]:
url_api = 'http://apis.data.go.kr/1360000/VilageFcstInfoService/getVilageFcst?serviceKey={}&numOfRows=100&pageNo=1&base_date={}&base_time={}&nx=58&ny=74&dataType=JSON'.format(key,date,today_time)

In [6]:
import requests
resp = requests.get(url_api)

In [7]:
data = resp.json()['response']['body']['items']['item']

In [8]:
import pandas as pd

In [9]:
data_df = pd.DataFrame(data)

In [10]:
data_df

    baseDate baseTime category  fcstDate fcstTime fcstValue  nx  ny
0   20201211     0200      POP  20201211     0600        20  58  74
1   20201211     0200      PTY  20201211     0600         0  58  74
2   20201211     0200      R06  20201211     0600         0  58  74
3   20201211     0200      REH  20201211     0600        95  58  74
4   20201211     0200      S06  20201211     0600         0  58  74
..       ...      ...      ...       ...      ...       ...  ..  ..
95  20201211     0200      PTY  20201212     0900         0  58  74
96  20201211     0200      REH  20201212     0900        75  58  74
97  20201211     0200      SKY  20201212     0900         4  58  74
98  20201211     0200      T3H  20201212     0900         5  58  74
99  20201211     0200      UUU  20201212     0900      -0.5  58  74

[100 rows x 8 columns]

In [11]:
data_df.loc[:,['category','fcstValue']]

   category fcstValue
0       POP        20
1       PTY         0
2       R06         0
3       REH        95
4       S06         0
..      ...       ...
95      PTY         0
96      REH        75
97      SKY         4
98      T3H         5
99      UUU      -0.5

[100 rows x 2 columns]

In [12]:
data1 = data_df.loc[:,["fcstDate",'fcstTime',"category","fcstValue"]]

In [13]:
data1[(data1['category']=='POP') | (data1['category']=='SKY') | (data1['category']=='REH') 
     | (data1['category']=='T3H')|(data1['category']=='TMN')|(data1['category']=='TMX')]

    fcstDate fcstTime category fcstValue
0   20201211     0600      POP        20
3   20201211     0600      REH        95
5   20201211     0600      SKY         3
6   20201211     0600      T3H         2
7   20201211     0600      TMN       2.0
12  20201211     0900      POP        20
14  20201211     0900      REH        85
15  20201211     0900      SKY         3
16  20201211     0900      T3H         5
21  20201211     1200      POP        20
24  20201211     1200      REH        65
26  20201211     1200      SKY         3
27  20201211     1200      T3H        10
32  20201211     1500      POP        20
34  20201211     1500      REH        60
35  20201211     1500      SKY         3
36  20201211     1500      T3H        12
37  20201211     1500      TMX      12.0
42  20201211     1800      POP        20
45  20201211     1800      REH        75
47  20201211     1800      SKY         3
48  20201211     1800      T3H         9
53  20201211     2100      POP        20
55  20201211     2100      REH        90
56  20201211     2100      SKY         3
57  20201211     2100      T3H         6
62  20201212     0000      POP        30
65  20201212     0000      REH        95
67  20201212     0000      SKY         4
68  20201212     0000      T3H         4
73  20201212     0300      POP        20
75  20201212     0300      REH        90
76  20201212     0300      SKY         3
77  20201212     0300      T3H         4
82  20201212     0600      POP        30
85  20201212     0600      REH        85
87  20201212     0600      SKY         4
88  20201212     0600      T3H         4
89  20201212     0600      TMN       3.0
94  20201212     0900      POP        30
96  20201212     0900      REH        75
97  20201212     0900      SKY         4
98  20201212     0900      T3H         5

In [14]:
data1.columns = ["일자","시간","정보","측정값"]

In [15]:
data1.loc[data1['정보']== 'POP', '정보'] = '강수확률'
data1.loc[data1['정보']== 'SKY', '정보'] = '하늘상태'
data1.loc[data1['정보']== 'TMN', '정보'] = '아침 최저기온'
data1.loc[data1['정보']== 'TMX', '정보'] = '낮 최고기온'

In [16]:
data2 = data1[data1['일자']==date]

In [17]:
data3 = data2[(data2['정보']=='강수확률') | (data2['정보']=='하늘상태') |(data2['정보']=='아침 최저기온')|(data2['정보']=='낮 최고기온')]

In [18]:
df = data2[data2['정보'] == '하늘상태']

In [19]:
df2 = data2[data2['정보'] == '강수확률']

In [20]:
df3 = data2[(data2['정보'] == '아침 최저기온') | (data2['정보'] == '낮 최고기온')]

In [21]:
print(df3)

          일자    시간       정보   측정값
7   20201211  0600  아침 최저기온   2.0
37  20201211  1500   낮 최고기온  12.0

In [22]:
def weather(n):
    if n == '1':
        return "맑음"
    if n == '3':
        return "구름 많음"
    if n == '4':
        return "흐림"

In [23]:
weather_value = df['측정값']

In [24]:
sky = weather_value.apply(weather)

In [25]:
df['측정값'] = weather_value.apply(weather)

<ipython-input-25-17b8cf8d8782>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['측정값'] = weather_value.apply(weather)

In [26]:
data3[data3['정보'] == '하늘상태'] = df

<ipython-input-26-3dc4a89272a6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data3[data3['정보'] == '하늘상태'] = df
C:\Users\SM809\anaconda3\lib\site-packages\pandas\core\frame.py:2957: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.loc._setitem_with_indexer(indexer, value)
C:\Users\SM809\anaconda3\lib\site-packages\pandas\core\frame.py:2935: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_array(key, value)

In [27]:
data3.index=range(len(data3.index))

In [28]:
import requests

In [29]:
data3

          일자    시간       정보    측정값
0   20201211  0600     강수확률     20
1   20201211  0600     하늘상태  구름 많음
2   20201211  0600  아침 최저기온    2.0
3   20201211  0900     강수확률     20
4   20201211  0900     하늘상태  구름 많음
5   20201211  1200     강수확률     20
6   20201211  1200     하늘상태  구름 많음
7   20201211  1500     강수확률     20
8   20201211  1500     하늘상태  구름 많음
9   20201211  1500   낮 최고기온   12.0
10  20201211  1800     강수확률     20
11  20201211  1800     하늘상태  구름 많음
12  20201211  2100     강수확률     20
13  20201211  2100     하늘상태  구름 많음

In [30]:
f = open("kakaokey.txt", 'r')
SECRET_KEY =f.readline()
f.close()
SECRET_KEY

'94eff828eb6d4a0d102161d583d69e79'

In [31]:
# Python 파일
import urllib.request

url = 'https://kakaoi-newtone-openapi.kakao.com/v1/synthesize'
request = urllib.request.Request(url)
request.add_header('Host','kakaoi-newtone-openapi.kakao.com')
request.add_header('Content-Type','application/xml')
request.add_header('Authorization',f'KakaoAK {SECRET_KEY}')

#VoiceName = 'WOMAN_DIALOG_BRIGHT'
#text = "할머니! 오늘은 날씨가 정말 좋아요!! 기분 좋은 하루 보내세요."
#data = "<speak><voice name='" + VoiceName + "'>" + text + "</voice></speak>"
#response = urllib.request.urlopen(request, data = data.encode('utf-8'))
# 요청 URL과 headers, data를 post방식으로 보내준다.

In [32]:
def Tweather():
    VoiceName = 'WOMAN_DIALOG_BRIGHT'

    if df['측정값'].iloc[0] == '맑음':  
        text = "할머니! 오늘은 날씨가 정말 좋아요!! 기분 좋은 하루 보내세요."

    elif df['측정값'].iloc[0] == '구름 많음':  
        text = "할머니! 오늘은 구름이 많아 날씨가 추울 수 있으니 옷을 따뜻하게 입으세요."
    
    elif df['측정값'].iloc[0] == '흐림':
        text = "할머니! 오늘은 강수확률{} 퍼센트로 비 가 올 수 있으니 우산을 꼭 챙겨 주세요!!.".format(df2['측정값'].iloc[0])
    
    data = "<speak><voice name='" + VoiceName + "'>" + text + "</voice></speak>"
    response = urllib.request.urlopen(request, data = data.encode('utf-8'))
    
    writeFile=open('test.mp3','wb')
    writeFile.write(response.read())
    writeFile.close()
    
    pygame.mixer.init()
    pygame.mixer.music.load("test.mp3")
    pygame.mixer.music.play()
    time.sleep(7) # 문장이 5초 이상 될 것같은 경우 sleep 시간 조절.
    pygame.mixer.quit()

In [33]:
def temperature():
    VoiceName = 'WOMAN_DIALOG_BRIGHT'
    text2 = "할머니! 오늘 아침 최저 기온은 {}도 이고, 낮 최고 기온은 {}도 입니다.".format(df3['측정값'].iloc[0],df3['측정값'].iloc[1])
    data = "<speak><voice name='" + VoiceName + "'>" + text2 + "</voice></speak>"
    response = urllib.request.urlopen(request, data = data.encode('utf-8'))

    writeFile=open('test2.mp3','wb')
    writeFile.write(response.read())
    writeFile.close()
    
    pygame.mixer.init()
    pygame.mixer.music.load("test2.mp3")
    pygame.mixer.music.play()
    time.sleep(7) # 문장이 5초 이상 될 것같은 경우 sleep 시간 조절.
    pygame.mixer.quit()

In [34]:
schedule.every().day.at("11:59").do(Tweather)
schedule.every().day.at("12:00").do(temperature)

Every 1 day at 12:00:00 do temperature() (last run: [never], next run: 2020-12-11 12:00:00)

In [ ]:
while True:
    schedule.run_pending()