In [36]:
# 위도와 경도를 변환해주는 라이브러리

import math

def grid(v1, v2) :

    RE = 6371.00877 # 지구 반경(km)
    GRID = 5.0      # 격자 간격(km)
    SLAT1 = 30.0    # 투영 위도1(degree)
    SLAT2 = 60.0    # 투영 위도2(degree)
    OLON = 126.0    # 기준점 경도(degree)
    OLAT = 38.0     # 기준점 위도(degree)
    XO = 43         # 기준점 X좌표(GRID)
    YO = 136        # 기1준점 Y좌표(GRID)

    DEGRAD = math.pi / 180.0
    RADDEG = 180.0 / math.pi

    re = RE / GRID;
    slat1 = SLAT1 * DEGRAD
    slat2 = SLAT2 * DEGRAD
    olon = OLON * DEGRAD
    olat = OLAT * DEGRAD

    sn = math.tan(math.pi * 0.25 + slat2 * 0.5) / math.tan(math.pi * 0.25 + slat1 * 0.5)
    sn = math.log(math.cos(slat1) / math.cos(slat2)) / math.log(sn)
    sf = math.tan(math.pi * 0.25 + slat1 * 0.5)
    sf = math.pow(sf, sn) * math.cos(slat1) / sn
    ro = math.tan(math.pi * 0.25 + olat * 0.5)
    ro = re * sf / math.pow(ro, sn);
    rs = {};

    ra = math.tan(math.pi * 0.25 + (v1) * DEGRAD * 0.5)
    ra = re * sf / math.pow(ra, sn)

    theta = v2 * DEGRAD - olon
    if theta > math.pi :
        theta -= 2.0 * math.pi
    if theta < -math.pi :
        theta += 2.0 * math.pi
    theta *= sn
    rs['x'] = math.floor(ra * math.sin(theta) + XO + 0.5)
    rs['y'] = math.floor(ro - ra * math.cos(theta) + YO + 0.5)

    return rs

~ 오늘의 날씨 ~

In [46]:
from datetime import datetime as dt
today = dt.today()

today = "%4d%02d%02d"%(today.year, today.month, today.day)
key = "urz15HMZIl7GH7VC1sxsnGwRWNAHv%2Bfo9bhWTmlP3P9i3tELJ2oomcBTQtNZBIsxXi5PmFAcw1Yajfb3xvGPsA%3D%3D"

In [47]:
import requests

In [61]:
# 기상청 날씨 url
url = 'http://apis.data.go.kr/1360000/VilageFcstInfoService/getVilageFcst\
?serviceKey={}&numOfRows=100&pageNo=1\
&base_date={}&base_time=0200&nx=55&ny=127&dataType=JSON'.format(key,today)
json = requests.get(url)
json

In [58]:
# item = json.json()
# item 

item = json.json()['response']['body']['items']['item']

In [59]:
# {} 딕셔너리는 키값과 value로 나뉨
for i in item:
    print(i['category'])

POP
PTY
R06
REH
S06
SKY
T3H
TMN
UUU
VEC
VVV
WSD
POP
PTY
REH
SKY
T3H
UUU
VEC
VVV
WSD
POP
PTY
R06
REH
S06
SKY
T3H
UUU
VEC
VVV
WSD
POP
PTY
REH
SKY
T3H
TMX
UUU
VEC
VVV
WSD
POP
PTY
R06
REH
S06
SKY
T3H
UUU
VEC
VVV
WSD
POP
PTY
REH
SKY
T3H
UUU
VEC
VVV
WSD
POP
PTY
R06
REH
S06
SKY
T3H
UUU
VEC
VVV
WSD
POP
PTY
REH
SKY
T3H
UUU
VEC
VVV
WSD
POP
PTY
R06
REH
S06
SKY
T3H
TMN
UUU
VEC
VVV
WSD
POP
PTY
REH
SKY
T3H
UUU

In [73]:
import pandas as pd

sky = pd.DataFrame(item)
sky

    baseDate baseTime category  fcstDate fcstTime fcstValue  nx   ny
0   20201208     0200      POP  20201208     0600        13  55  127
1   20201208     0200      PTY  20201208     0600         0  55  127
2   20201208     0200      R06  20201208     0600         0  55  127
3   20201208     0200      REH  20201208     0600        60  55  127
4   20201208     0200      S06  20201208     0600         0  55  127
..       ...      ...      ...       ...      ...       ...  ..  ...
95  20201208     0200      PTY  20201209     0900         0  55  127
96  20201208     0200      REH  20201209     0900        50  55  127
97  20201208     0200      SKY  20201209     0900         3  55  127
98  20201208     0200      T3H  20201209     0900        -1  55  127
99  20201208     0200      UUU  20201209     0900      -1.4  55  127

[100 rows x 8 columns]

In [75]:
sky1 = sky.loc[:,["fcstDate",'fcstTime',"category","fcstValue"]]

In [81]:
sky1[(sky1['category']=='POP') | (sky1['category']=='SKY') | (sky1['category']=='REH') 
     | (sky1['category']=='T3H')|(sky1['category']=='TMN')|(sky1['category']=='TMX')]

    fcstDate fcstTime category fcstValue
0   20201208     0600      POP        13
3   20201208     0600      REH        60
5   20201208     0600      SKY         3
6   20201208     0600      T3H        -4
7   20201208     0600      TMN      -5.0
12  20201208     0900      POP         7
14  20201208     0900      REH        50
15  20201208     0900      SKY         1
16  20201208     0900      T3H        -3
21  20201208     1200      POP         0
24  20201208     1200      REH        35
26  20201208     1200      SKY         1
27  20201208     1200      T3H         1
32  20201208     1500      POP         0
34  20201208     1500      REH        40
35  20201208     1500      SKY         1
36  20201208     1500      T3H         2
37  20201208     1500      TMX       3.0
42  20201208     1800      POP         0
45  20201208     1800      REH        60
47  20201208     1800      SKY         1
48  20201208     1800      T3H        -1
53  20201208     2100      POP         0
55  20201208     2100      REH        60
56  20201208     2100      SKY         1
57  20201208     2100      T3H        -2
62  20201209     0000      POP         0
65  20201209     0000      REH        70
67  20201209     0000      SKY         1
68  20201209     0000      T3H        -3
73  20201209     0300      POP        23
75  20201209     0300      REH        70
76  20201209     0300      SKY         3
77  20201209     0300      T3H        -4
82  20201209     0600      POP        13
85  20201209     0600      REH        65
87  20201209     0600      SKY         3
88  20201209     0600      T3H        -4
89  20201209     0600      TMN      -5.0
94  20201209     0900      POP        17
96  20201209     0900      REH        50
97  20201209     0900      SKY         3
98  20201209     0900      T3H        -1

~ 구분선 ~

In [72]:
sky[sky['category']=="PTY"].loc[:,["category",'fcstTime']]

   category fcstTime
1       PTY     0600
13      PTY     0900
22      PTY     1200
33      PTY     1500
43      PTY     1800
54      PTY     2100
63      PTY     0000
74      PTY     0300
83      PTY     0600
95      PTY     0900